<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>products in {{ category.name }}</h1>

    <table>
        <thead>
            <tr>
                <th>product name</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td><a href="{% url 'products_detail' product.id %}">{{ product.name }}</a></td>
                <td> price - {{ product.price|floatformat:2 }} | quantity - {{ product.stock }} |
                    total_value {{product.total_value|floatformat:2 }}
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="2">no products category.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div>
        <h3>category statistics</h3>
        <ul>
            <li>most expensive product: {{ stats.max_price|floatformat:2 }}</li>
            <li>cheapest product: {{ stats.min_price|floatformat:2 }}</li>
            <li>average product price: {{ stats.avg_price|floatformat:2 }}</li>
            <li>total value of products (including stock): {{ stats.total_value|floatformat:2 }}</li>
        </ul>
    </div>

    <div class="pagination">
        <span class="step-links">
            {% if products.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ products.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ products.number }} of {{ products.paginator.num_pages }}.
            </span>

            {% if products.has_next %}
            <a href="?page={{ products.next_page_number }}">next</a>
            <a href="?page={{ products.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>




</body>

</html>