<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Products in {{ category.name }}</h1>

    <ul>
        {% for product in page_obj %}
        <li>
            <a href="{% url 'product_detail' product.id %}">{{ product.name }}</a> -
            Total value: {{ product.price|floatformat:2 }} * {{ product.stock }} = {{
            product.price|mul:product.stock|floatformat:2 }}
        </li>


        {% endfor %}
    </ul>


    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>

    <h2>Statistics</h2>
    <p>Max price: {{ max_price }}</p>
    <p>Min price: {{ min_price }}</p>
    <p>Average price: {{ avg_price }}</p>
    <p>Total value of products: {{ total_value }}</p>


</body>

</html>